body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  .parallax-container {
    position: relative;
    height: 100vh;
  }
  
  .fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-photo/galaxy-night-panorama_23-2148895325.jpg"); /* Replace with your image */
    background-size: cover;
    background-position: center center;
    z-index: -2;
  }
  
  .section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text within sections */
    font-size: 2rem;
    color: red;
    
  }
  /* ... and so on for other sections */
  